/* Basic Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../Photo/hp-simplified-hans-light.ttf') format('woff2');
    font-weight: normal; /* Normal weight */
    font-style: normal; /* Normal style */
}

body {
    font-family: 'MyCustomFont', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header and Navigation */
header {
    background-color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 150px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    padding: 10px;
    margin: 0px 10px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links button:hover a {
    color: white;
}

.nav-links button:hover {
    transform: scale(1.05);
    background-color: #666;
    border-radius: 5px;
    color: white;
}

.blue-submit-btnn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #d89b51, #82325d, #455db2);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blue-submit-btnn a {
    color: white;
    text-decoration: none;
}

.blue-submit-btnn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
}

/* Hero Section */
.hero {
    background-image: url('../Photo/main_baground_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    padding: 20px;
}

.hero-content {
    max-width: 50%;
    text-align: left;
    z-index: 1;
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 0px 4px #8e1f58;
}

/* Responsive Adjustments */
@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        text-align: center; /* Ensure text is centered */
        padding: 10px 20px;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .nav-links button {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .hero {
        height: 150px;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }
}
